force-app/main/default/flows/Atlas_Get_Countries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Output</name>
        <label>Set Output</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>countryData</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Countries</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>20240830 - replacing API with CMD</description>
    <environments>Default</environments>
    <interviewLabel>Atlas : Get Countries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atlas : Get Countries</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Countries2</name>
        <label>Get Countries</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Countries</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Country__mdt</object>
        <sortField>MasterLabel</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Countries2</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Countries</name>
        <label>Transform Countries</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <apexClass>CountryData</apexClass>
        <connector>
            <targetReference>Set_Output</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>iso2</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Countries2[$EachItem].ISO2__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>iso3</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Countries2[$EachItem].ISO3__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Countries2[$EachItem].MasterLabel</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>countryData</name>
        <apexClass>CountryData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
